h1.title {
  font-size: 75px;
  color: #800080;
}

.reveal h2 {
  color: #800080;x
}

.reveal .title-slide h1 {
  font-size: 60px;
  color: #800080;
}

.tiny {
  font-size:20px;
}

.pp {
  color: #800080;
}

.list-indent {
  padding-left: 1em;
}

.centered-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    top: 286.5px;
  }

.centered-content div {
    max-width: 80%;
  }
  
.centered-content-easy {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    top: 100px;
  }

.centered-content-easy div {
    max-width: 100%;
  }

